body {
  font-family: sans-serif;
}

.App {
  width: 400px;
  height: 400px;
  position: relative;
  background: #fafafa;
  display: inline-block;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.list-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  position: absolute;
}

.list {
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
